{% extends 'base.html' %}

{% block title %} Practice | Detail {% endblock title %}

{% block additional_styles %}
<style>
    body{
        background-color: antiquewhite;
    }
</style>
{% endblock %}

{% block content %}

<section id="detail" class="detail">
    <div class="card">
        <div class="card_img">
            <img src="{{ book.photo.url }}" alt="">
        </div>
        <div class="content">
            <h1> {{ book.title }} </h1>
            <span><strong>ISBN:     </strong> 212-2132-212-2113</span>
            <p class="text">
              {{ book.description|safe }}
            </p>
            <a href="" class="btn">Shop Now</a>
        </div>
    </div>
</section>

{% endblock content %}